<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{! Handlebars }}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Javascript | Konfiguration</title>
</head>
<body>
    <div class="container mx-auto mt-4">
        {{{body}}}
    </div>
</body>
</html>