script.
    const error = JSON.parse(!{JSON.stringify(error)})

    if (error) {
        window.opener.postMessage({
            source: "oauth",
            status: "error"
        })
    } else {
        window.opener.postMessage({
            source: "oauth",
            status: "ok",
            payload: JSON.parse(`!{JSON.stringify(data)}`)
        })
    }