<module
    name="reputation-system"
    desc="meta_desc"
    features="meta_features"
>
    <argument
        type="text_channel"
        name="arg_notifications_channel_name"
        display-name="arg_notifications_channel_display_name"
        desc="arg_notifications_channel_desc"
    />
</module>